@font-face {
  font-family: 'icomoon';
  src:  url('../fonts2/icomoon.eot?1kbifj');
  src:  url('../fonts2/icomoon.eot?1kbifj#iefix') format('embedded-opentype'),
    url('../fonts2/icomoon.ttf?1kbifj') format('truetype'),
    url('../fonts2/icomoon.woff?1kbifj') format('woff'),
    url('../fonts2/icomoon.svg?1kbifj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}
