@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ow9prl');
  src:  url('../fonts/icomoon.eot?ow9prl#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ow9prl') format('truetype'),
    url('../fonts/icomoon.woff?ow9prl') format('woff'),
    url('../fonts/icomoon.svg?ow9prl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play-circle:before {
  content: "\e900";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-dribbble:before {
  content: "\eaa7";
}
